@using Humanizer
@using BetterSteamBrowser.Domain.ValueObjects

<RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Normal" JustifyContent="JustifyContent.Left">
    <RadzenText Text="@Server.Name" TextStyle="TextStyle.DisplayH5" TextAlign="TextAlign.Center" class="rz-mb-0 rz-color-secondary"/>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="0.25rem">
        <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" Text="@Server.SteamGameName" class="rz-mb-0"/>
        <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" Text="&bull;" class="rz-mb-0"/>
        <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" Text="@Server.Map" class="rz-mb-0"/>
        <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" Text="&bull;" class="rz-mb-0"/>
        <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" Text="@Server.Country" class="rz-mb-0"/>
        <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" Text="&bull;" class="rz-mb-0"/>
        <RadzenText TextStyle="TextStyle.H6" TextAlign="TextAlign.Center" class="rz-mb-0">
            @Server.Players.ToString("N0")/@Server.MaxPlayers.ToString("N0")
        </RadzenText>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Wrap="FlexWrap.Wrap">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="arrow_forward" Click="ConnectToServer" Text="Connect" class="rz-border-radius-4 rz-py-5 rz-shadow-3"/>
        @if (_isClipboardSupported)
        {
            <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="content_copy" Click="CopyToClipboardAsync" Text="Copy Address" class="rz-border-radius-4 rz-py-5 rz-shadow-3"/>
        }
        else
        {
            <RadzenCard class="rz-border-radius-4 rz-py-5 rz-px-5 rz-shadow-3">
                <RadzenText TextStyle="TextStyle.Body2" TextAlign="TextAlign.Center" Text="@Server.Address" class="rz-mb-0"/>
            </RadzenCard>
        }
        @if (!string.IsNullOrWhiteSpace(UserId))
        {
            var favouriteText = _isFavourite ? "Remove from Favourites" : "Add to Favourites";
            var favouriteIcon = _isFavourite ? "star" : "star_border";
            var favouriteStyle = _isFavourite ? ButtonStyle.Danger : ButtonStyle.Info;
            <RadzenButton ButtonStyle="@favouriteStyle" Icon="@favouriteIcon" Click="AddToFavouriteAsync" Text="@favouriteText" IsBusy="_processing" BusyText="Working..." class="rz-border-radius-4 rz-py-5 rz-shadow-3"/>
        }
    </RadzenStack>
    <ServerPlayersHistory Server="Server"/>
    @if (_players is null)
    {
        <div class="rz-mx-12 rz-my-4">
            <RadzenProgressBar ProgressBarStyle="ProgressBarStyle.Secondary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
        </div>
    }
    else
    {
        if (_players.Count is not 0)
        {
            <div style="max-width:750px">
                <RadzenDataGrid AllowColumnResize="true" AllowAlternatingRows="true" Density="Density.Compact" PageSize="10"
                                AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                Data="@_players" TItem="PlayerInfo">
                    <Columns>
                        <RadzenDataGridColumn TItem="PlayerInfo" Property="Name" Title="Name" MinWidth="200px"/>
                        <RadzenDataGridColumn TItem="PlayerInfo" Property="Score" Title="Score" MinWidth="100px">
                            <Template Context="context">
                                <RadzenText TextStyle="TextStyle.Body2" Text="@context.Score?.ToString("N0")" class="rz-mb-0"/>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="PlayerInfo" Property="Online" Title="Online Time" MinWidth="200px">
                            <Template Context="context">
                                <RadzenText TextStyle="TextStyle.Body2" Text="@context.Online.Humanize()" class="rz-mb-0"/>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        }
    }
    <hr/>
    <RadzenText class="rz-mb-0" TextStyle="TextStyle.Caption" Text="Note, some games do not properly adhere to Valve's Query and might not show any/all players."/>
</RadzenStack>
